@import '../../base.module.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  padding: 0em 1em 0em 1em;
}

.building {
  &__header {
    font-family: var(--font-family-heading);
  }
}

.mapContainer {
  width: 100%;
}

.mapImage {
  width: 100%;
}