@import '../../base.module.scss';

.tabs {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;

  &__header {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 3rem;

    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__headerText {
    border-bottom: 3px solid var(--main-color);
    cursor: pointer;

    &__current {
      border-bottom: 5px solid var(--main-color);
      cursor: pointer;
      font-weight: 900;
    }
  }

}

.contentGroup {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 10px;

  &__link {
    margin: 0.5em;
    width: fit-content;
  }

  &__admin {
    grid-column: span 2;
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contentIcon {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 10px;

  @media (max-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contentRef {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ref {
  margin: 1em 1em 1em 1em;

  &__reference {
    font-size: 1.15em;

    & > a {
      font-size: 0.8em;
      text-decoration: underline;
      font-weight: 700;
    }
  }

  &__desc {
    font-size: 0.9em;
  }

  &__doi {
    font-size: 0.9em;
  }
}

.popOver {
  margin: 1em;

  &__text {
    font-weight: 600;
  }
}

.button {
  margin: 0 1rem 0 1rem;
  border: 0;
  background-color: green;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, .6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: fit-content;
  padding: 2em;
  background-color: var(--main-color);
  border: 5px solid var(--secondary-color);
  border-radius: 15px;

  &__header {
    margin: 0 0 1em 0;

  }

  &__options {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    font-size: 1.2em;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
  }
}



