@import '../../base.module.scss';

.image {
  width: 100%;
  height: 100%;

  &__figContainer {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;;
  }

  &__figcaption {
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    padding: 0.5em;
    color: #fff;
  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }

  &__blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -10;
    opacity: 0.5;
    top: 0;
  }

  &__button {
    position: absolute;
    height: 15vh;
    width: 10vw;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3em;
  }
}