// $main-color: #279AF1;
// $secondary-color: #3D7068;
// $background-color: #D7D5D6;

@import '../../base.module.scss';

.navigation {

  background-color: var(--main-color);
  border-bottom: 1px solid black;
  display: flex;
  height: 3em;
  width: 100%;
  justify-content: center;
  // margin-bottom: 3em;

  &__bar {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 100%;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    max-width: var(--max-width);
  }

  &__imageContainer {
    // width: 100%;
    height: 100%;
    padding: 0 0.5rem 0 0.5rem
  }

  &__image {
    &_desktop {
      height: 100%;
      width: auto;
    }

    &_mobile {
      width: 0;
      height: 0;
    }

    @media (max-width: 700px) {
      &_desktop {
        height: 0;
        width: 0;
      }

      &_mobile {
        height:100%;
        width: auto;
      }
    }
  }

  &__content {
    justify-content: flex-end;
    display: flex;
    font-size: 0.7em;
    padding: 0 0.5rem 0 0.5rem;

    &__text {
      margin-left: 1em;
      margin-bottom: 0.1em;
    }

    &__link {
      color: black;
      cursor: pointer;
    }

    @media (max-width: 700px) {
      &__link {
        width: 0;
        height: 0;

        visibility: hidden;
      }
    }
  }

  &__burger {
    width: 0;
    height: 0;
    visibility: hidden;

    @media (max-width: 700px) {
      height: 100%;
      width: auto;
      visibility: visible;

      width: 3rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: 0;
    }
  }

  &__menu {
    width: 0;
    height: 0;
    visibility: hidden;

    @media (max-width: 700px) {
      width: auto;
      height: auto;
      visibility: inherit;

      background-color: var(--main-color);
      padding: 0.5rem;
      border: 5px solid var(--secondary-color);

      &__link {
        color: black;
        cursor: pointer;
      }

      &__text {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}